@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Bazar</h2>

  
    </div>
    <div class="col-md-4">
        <img class="card-img-top responsive" id="imgBazar" src="~/img/inicio/bazar.jpg" alt="No se pudo cargar" style="display: flex; align-items: center; height: 250px; width: 250px;">
 
    </div>
    <div class="col-md-4">

    </div>
</div>