@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Libreria</h2>


    </div>
    <div class="col-md-4">
        <img class="card-img-top responsive" id="imgLibreria" src="~/img/inicio/libreria.jpg" alt="No se pudo cargar" style="display: flex; align-items: center; height: 250px; width: 250px;">
    </div>
    <div class="col-md-4">

    </div>
</div>